{% extends 'base.html' %}


{%  block content %}
    <h1>Detail View for {{listing.title}}</h1>
    <ul>
        <!-- <li>listing</li> -->
        <li>Home: {{listing.title}}</li>
        <li>Price: {{listing.price}}</li>
        <li>Address: {{listing.address}}</li>
        <li><img src="{{ listing.image.url }}" alt="image of a house" width="300px"></li>
    </ul>
    <a href="{% url 'update_listing' listing.id %}">
        <button>
            Edit
        </button>
    </a>
    <a href="{% url 'delete_listing' listing.id %}">
        <button>
                Delete
            </button>
        </a>
        
{%  endblock %}