{% load static %}

<header style="color: blueviolet;">
    <div>
        <div>Logo</div>
        <div>
            <ul style="display:inline-flex;">
                <li style="margin-right: 25px;">Home</li>
                <li style="margin-right: 25px;">About</li>
                <li style="margin-right: 25px;">Contact</li>
                <li style="margin-right: 25px;">Blog</li>
            </ul>
            <button style="color: blueviolet;">Log in</button>
        </div>
    </div>
</header>