{% load static %}

<header style="color: blueviolet;">
    <div>
        <a href="{% url 'home' %} "><div>Logo</div></a>
        <div>
            <ul style="display:inline-flex;">
                <a href="{% url 'home'%} "><li style="margin-right: 25px;">Home</li></a>
                <a href="{% url 'home'%} "><li style="margin-right: 25px;">About</li></a>
                <a href="{% url 'home'%} "><li style="margin-right: 25px;">Contact</li></a>
                <a href="{% url 'home'%} "><li style="margin-right: 25px;">Blog</li></a>
                <a href="{% url 'home'%} "><li style="margin-right: 25px;"><button>Log in</button></li></a>
                <a href="{% url 'registerUser'%} "><li style="margin-right: 25px;"><button>Register</button></li></a>
                <a href="{% url 'registerVendor'%} "><li style="margin-right: 25px;"><button>Register Business</button></li></a>
            </ul>
            
        </div>
    </div>
</header>