<div>
    Vendor SideBar 

</div>

<ul style="display:inline; list-style-type: none; display: flex; ">

    <li>
        <a href="{% url 'venDashboard'%} "><li style="margin-right: 25px;">Vendor Dashboard</li></a>
    </li>

   <li> <a href="{% url 'menu_builder'%}"><li style="margin-right: 25px;">Menu Builder (FOOD CRUD)</li></a>
    </li>

    <li>
        <a href="{% url 'vprofile'%}"><li style="margin-right: 25px;">My Restaurant (VENDOR CRUD)</li></a>

    </li>
    <li>
        <a href="{% url 'home'%} "><li style="margin-right: 25px;">Orders</li></a>

    </li>   
    <li>
        <a href="{% url 'home'%} "><li style="margin-right: 25px;">Earnings</li></a>

    </li>   
    <li>
        <a href="{% url 'home'%} "><li style="margin-right: 25px;">Statements</li></a>

    </li>   

    <li>
        <a href="{% url 'home'%} "><li style="margin-right: 25px;">Profile Settings</li></a>

    </li>
    <li>
        <a href="{% url 'myAccount'%} "><li style="margin-right: 25px;"><button>Change Password</button></li></a>

    </li>
    <li>
    <a href="{% url 'logout'%} "><li style="margin-right: 25px;"><button>Logout</button></li></a>

    </li>
</ul>