{% extends 'base.html' %}
{% block content %}
    <h1>Reset Password</h1>
    <form action="{% url 'resetPassword' %}" method="POST">
        {% csrf_token %}
        <label for="password">Password</label>
        <input type="password" name="password">

        <label for="confirm_password"> Confirm Password</label>
        <input type="password" name="confirm_password">

        <a href="{% url 'forgotPassword' %}">Forgot Password</a>
        <button type="submit">Reset</button>
    </form>

{% include 'includes/alerts.html' %}

{% endblock %}