{% extends 'base.html' %}

{% block content %}
    {% include 'includes/v_sidebar.html' %}
    <h1>Vendor Dashboard</h1>

    <h1>Welcome {{user.username}}</h1>
    Business Name:    {{vendor.vendor_name}}<br>
    Profile image:    <img src="{{vendor.user_profile.profile_picture.url}}" width="50px" alt=""><br>
    Cover image:    <img src="{{vendor.user_profile.cover_photo.url}}" width="50px" alt=""><br>
    Address: {{vendor.user_profile.address}}<br>
    Biz Name:    {{vendor.vendor_name}}<br>


    
    {% include 'includes/alerts.html' %}
{% endblock %}